* {
  margin: 0;
  padding: 0;
  font-family: 'georgia', serif;
}
.body {
  width: auto;
  margin-left: 0 auto;
  margin-right: 0 auto;
  display: block;
}
.banner {
  width: 100%;
  height: 20%;
  padding: 20px;
  background-color: #3a3b3c;
  box-shadow: 5px black;
}
.navbar {
  width: 80%;
  margin: auto;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
  float: left;
}
.portrait {
  align-items: center;
  margin: 10px 10px;
  width: 120px;
  border-radius: 50%;
  float: left;
}
.navbar ol li {
  list-style: none;
  display: inline-block;
  margin: 0 40px;
}
.navbar ol li a {
  text-decoration: none;
  align-items: center;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px black;
}
h1 {
  color: white;
  align-items: center;
  font-size: 40px;
  padding: 40px 0px 40px 0px;
  text-shadow: 3px 3px 3px black;
}
.dropbtn {
  background-color: #3a3b3c;
  color: white;
  min-width: 200px;
  padding: 20px;
  font-size: 20px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  font-size: 15px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: grey;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: black;
}
.content {
  align-items: center;
  justify-content: center;
}
